* {
	font-family: sans-serif;
}

body {

	background: #232526;
	background: linear-gradient(to right, #414345, #232526);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: blanchedalmond;
	margin: 20px;

}

#tabla {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	text-align: left;
	padding: 8px;
}



input[type="text"],
input[type="number"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button {
	background-color: blanchedalmond;
	color: rgb(0, 0, 0);
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #e9e6cf;
}